#colorBody {
    background-color: #0059a3;
    background-image: linear-gradient(315deg, #0059a3 0%, #5b65b8 74%);
}

#bgColor {
    background-color: #53a2da;
    background-image: linear-gradient(315deg, #53a2da 0%, #6285bf 74%);
}

#bgColorFooter {
    background-color: #0059a3;
    background-image: linear-gradient(315deg, #0059a3 0%, #6285bf 74%);
}